[Unit]
Description=Tutor Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/tutor_bot
Environment=PATH=/opt/tutor_bot/venv/bin
ExecStart=/opt/tutor_bot/venv/bin/python main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
